extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let flightID = toShow._id
    - let flightType = toShow.flightType
    - let price = toShow.price
    - let capacity = toShow.capacity
    
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{flightID}
    - let actionid = "/resource/flights/" + flightID
    form(id='FlightForm', action= actionid, method="PUT")
        div.form-group
            label.costumeAttr(for='flightType') Flight Type
            input#flightType(type='text', name='flightType', value= flightType )
        div.form-group
            label.costumeAttr(for='price') Flight Price
            input#price(type='number', name='price', value= price )
        div.form-group
            label.costumeAttr(for='location') Flight Capacity
            input#capacity(type='text', name='capacity', value= capacity )

        input(type="submit")

    script.
        document.forms['FlightForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(event.target)
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });